h1{
    font-family: 'Playwrite HR Lijeva', sans-serif;
    text-align: center;
    color: #000;
    background-color: rgb(216, 158, 103);
}
body{
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    color: #000;
    background-color: rgb(255, 228, 149);
}

